
.container-main-content h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.div-container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.div_perfil {
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.perfil {
    width: 300px;
    font-size: 10px;
}


.perfil td {
    padding: 5px 0px;
}

.botao {
    background-color: #8C2A44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 40px;
    cursor: pointer;
}

.div_museu {
    float: right;
    width: fit-content;
}

.museu {
    width: 300px;
    font-size: 10px;
}

.museu td {
    padding: 5px 0px;
}

#img_logo {
    width: 150px;
    height: 150px;
}

.div_logo {
    text-align: center;
    margin-right: 100px;
    font-size: 12px;
}

.tabela {
    width: 75%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: solid;
    color: #000000;
    font-size: 12px;
}

.tabela th,
.tabela td {
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: solid;
    padding: 5px;
    font-size: 10px;
}

.tabela td.header,
.tabela td:hover {
    background-color: #f1f1f1;
}

.tabela thead {
    background-color: #8C2A44;
    color: white;
}

#table_intervalo td {
    padding: 15px 150px;
    border-radius: 4px;
    margin-top: 50px;
    border: 1px solid #ddd;
    font-size: 18px;
    border-radius: 5px;
}

.container-intervalo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.container-intervalo p {
    font-size: 12px;
    font-weight: bold;
}

#intervalo-registro {
    color: #11111399;
    background-color: white;
    width: 250px;
    height: 30px;
    border: #11111333 1px solid;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}