* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter'; /* Tipo de fonte que vai ser utilizada no site */
    background-color: whitesmoke;
}

/* Cabeçalho */

.header {
    background-color: white;
    float: right;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
}

/* Alinhamento do nome com a foto de perfil */

#perfil {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
}

/* Estilização do perfil do avatar */

#perfil-avatar {
    border-radius: 50%;
    padding: 15px;
    height: 20px;
    width: 20px;
    background-color: gray;
    vertical-align: middle;
}

#logo {
    width: 100%;
    height: 150px;
}

/* Menu de navegação lateral */

#sidebar {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #103440;
    position: fixed;
    height: 100vh;
}

/* Container do menu de navegação */

#sidebar-menu {
    margin: 50px 0px;
    height: 400px;
}

/* Estilização das opções de navegação */

#sidebar a {
    margin: 0;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

/* Efeito de transição de cores do menu */

#sidebar a:hover {
    background-color: #8C2A44;
    color: #D9AA1E;
}

#sidebar a.active {
    color: #D9AA1E;
    background-color: #8C2A44;
}

/* Div para alinhar o Container de conteúdo */

.rigth-content {
    margin-top: 100px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
}

/* Container onde será apresentado o conteúdo da página */

.container-bg-content {
    background-color: white;
    height: 90%;
    width: 90%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

/* Cabeçalho do Container */

.container-header {
    background-color: #103440;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 14px;
}

/* Div onde será disponibilizado o conteúdo da página (espaço em branco) */

.container-main-content {
    padding: 20px;
    background-color: white;
}

