* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;

}

.header{
  background-color: #8c2a44;
  width: 100%;
  height: 100px;  
}

.header .container{
  width: 90%;
  height: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container li{
  display: inline;  
  padding: 0 15px;
}

.header .container .navbar li a{
  display: inline;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 100px;
  padding: 75px;
}

.banner-sobre{
  border-bottom: 40px solid rgb(255, 255, 255);
}

.container{
  width: 3% 10%;
}

.background-nossaMissao{
  background-color: rgb(16, 52, 64);
  width: 1920px;
  height: 400px;
  align-items: center;
}

.alinhamento-nossaMissao{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto-nossaMissao{
  width: 50px;
}

.imagem-nossaMissao{
  width: 600px;

}

.texto-nossaMissao{
  width: 25%;
  color: white;
}

.container-oqfazemos{
  margin: 0px;
  margin: 3% 10%;
  padding: 15px;
  display: flex;
  align-items: center;
}

.container-oqfazemos img{
  width: 500px;
}

.texto-oqFazemos{
  width: 25%;
}

.linha-oqFazemos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  
}

.container-porque {
  margin: 2% 10%;
}

.linha-card {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-porque h1{
  height: auto;
  margin: 0 3%;

}

.card-texto {
  background-color: #8c2a44;
  color: white;
  text-align: center;
  height: 200px;
  padding: 7px;
}

.card-texto p, h3 {
  margin: 10px 0px;
}

.card {
  height: 500px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card img {
  height: 200px;
  width: auto;
  margin: 0;
  padding: 0;
}

.container-nossaVisao{
  width: 90%;
  height: 95%;
  margin: 5% 10%; 
  align-items: center;
  display: flex;
}

.foto5-PG-sobre{
  width: 500px;
  height: 500px;
}

.background-nossaVisao{
  width: 1800px;
height: 500px;
flex-shrink: 0;
}

.texto-nossavisao {
  margin-left: 300px;
align-items: center;
}

.texto-nossavisao p {
  padding: 10px;
  width: 500px;
}

.botao-registrar{
  margin-top: 60px;
display: inline-flex;
padding: 20px 48px;
align-items: flex-start;
gap: 10px;
border-radius: 1000px;
border: 6px solid #103440;
background: #ffffff;
box-shadow: 4px 8px 0px 0px #40131F;
}

.background-final{
width: 1800px;
height: 400px;
flex-shrink: 0;
}

.texto-registrar{
  width: 896px;
color: #FFF;
font-size: 30px;
font-weight: 800;
line-height: normal;
}

.container-registrar{
  width: 90%;
  height: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto-redonda{
  width: 250px;
  height: 250px;
  margin: 15% 0;
  margin-left: 300px;
}


footer{
  background-color: #8c2a44;
  width: 100%;
  height: 200px;
}








