.grafico {
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.container-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

table.tabela-sensor {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: solid;
    color: #000000;
    font-size: 12px;
}

table.tabela-sensor td, th {
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: solid;
    padding: 5px;
    font-size: 10px;
}

table.tabela-sensor thead {
    background-color: #8C2A44;
    color: white;
}

.container-row {
    display: flex;
    justify-content: space-between;
}

.row1 {
    gap: 50px;
    margin-bottom: 50px;
}

.container-log {
    width: 40%;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 70vh;
    overflow: scroll;
}


.log-header {
    height: 30px;
    background-color: #8C2A44;
    color: white;
    display: flex;
    align-items: center;
}

.log-header p{
    margin-left: 10px;
}

.log-mensagem {
    height: 50px;
    gap: 10px;
    font-size: 12px;
    background-color: white;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
}

.log-mensagem i {
    margin-left: 20px;
    font-size: 18px;
}

.row2 {
    margin-top: 30px;
    justify-content: space-around;
}

.kpi-donut {
    background-color: white;
    height: 250px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#select_grafico {
    color: #11111399;
    background-color: white;
    width: 250px;
    height: 30px;
    border: #11111333 1px solid;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

.botao-select {
    color: white;
    background-color: #8C2A44;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

#input_ip {
    width: 40px;
    border: white;
    display: inline;
}

.display-none {
    display: none;
  }
  
  .display-flex {
    display: flex;
  }
  
  .display-block {
    display: block;
  }