* {
    font-family: 'Inter';
}

.card {
    width: 350px;
    margin-top: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img img {
    height: 40px;
    width: 40px;
}

.card-body {
    padding: 10px 20px;

}

.card-body button {
    height: 100%;
    width: 100%;
    border: none;
    text-decoration: none;
    color: black;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.card p {
    font-size: 12px;
}

.card-body h3 {
    font-size: 16px;
}

.container-card {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
}

.status-card {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
}

.card-texto p {
    margin: 5px;
}

h3 {
    font-size: 18px;
}

.container-analytcs-ip {
    height: 65%;
    font-size: 0.8em;
}

.container-analytcs-ip h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 1em;
    color: white;
}

.container-analytcs-clima {
    height: 25%;
    background-color: #8C2A44;
    color: white;
    padding: 1rem;
}

.container-analytcs-clima h2 {
    text-align: center;
    font-size: 1em;
    color: white;
}

.div-clima {
    margin: 10px 0;
    text-align: center;
}

hr {
    border: 1px solid white;
}


.box-ip {
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.div-clima {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}

.ok {
    color: green;
}

.alerta {
    color: red;
}

.ideal {
    color: #999999;
}

.bom {
    background-color: rgb(0, 128, 0);
}

.normal {
    background-color: #999999;
}

.ruim {
    background-color: red;
}

.flex-card-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 50%;
}

.container-analytcs {
    width: 25%;
    background-color: #8C2A44;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-pipefy {
    float: right;
    margin-right: 20%;
}

.container-pipefy button {
    background-color: #8C2A44;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}