html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: whitesmoke;
}

.header {
    background-color: white;
    float: right;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
}

#perfil {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 10px;
}

#perfil-avatar {
    border-radius: 50%;
    padding: 15px;
    height: 20px;
    width: 20px;
    background-color: gray;
    vertical-align: middle;
}

#logo {
    width: 100%;
    height: 150px;
}

#sidebar {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #103440;
    position: fixed;
    height: 100vh;
}

#sidebar-menu {
    margin: 50px 0px;
    height: 400px;
}

#sidebar a {
    margin: 0;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
#sidebar a:hover {
    background-color: #8C2A44;
    color: #D9AA1E;
}

#sidebar a.active {
    color: #D9AA1E;
    background-color: #8C2A44;
}